.event-list {
    margin-top: 20px;
}

.event {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.event-wrapper {
    width: 100%;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
}