.create-event-form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.time-picker {
    width: 320px;
}

.buttons-wrapper {
    display: flex;
    margin-left: auto;
    margin-bottom: 10px;
}

.button {
    margin-left: 10px;
}